html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box !important;
  font-family: 'Poppins' !important;
}

.revealDev {
  transform: translateY(-150px);
  opacity: 0;
  transition: 1s all ease;
}
.revealMedic {
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
.revealDev.active {
  transform: translateY(0);
  opacity: 1;
}
.revealMedic.active {
  transform: translateY(0);
  opacity: 1;
}

.revealTechStack {
  transform: translateX(-200px);
  opacity: 0;
  transition: 1s all ease;
}
.revealTechStack.active {
  transform: translateX(0);
  opacity: 1;
}

.revealAboutTopLeft {
  transform: translateX(-200px);
  opacity: 0;
  transition: 1s all ease;
}
.revealAboutTopLeft.active {
  transform: translateX(0);
  opacity: 1;
}
.revealAboutTopRight {
  transform: translateX(200px);
  opacity: 0;
  transition: 1s all ease;
}
.revealAboutTopRight.active {
  transform: translateX(0);
  opacity: 1;
}
.revealAboutLeft {
  transform: translateX(-200px);
  opacity: 0;
  transition: 1s all ease;
}
.revealAboutLeft.active {
  transform: translateX(0);
  opacity: 1;
}
.revealAboutRight {
  transform: translateX(200px);
  opacity: 0;
  transition: 1s all ease;
}
.revealAboutRight.active {
  transform: translateX(0);
  opacity: 1;
}

.revealAboutBottomLeft {
  transform: translateX(-200px);
  opacity: 0;
  transition: 1s all ease;
}
.revealAboutBottomLeft.active {
  transform: translateX(0);
  opacity: 1;
}
.revealAboutBottomRight {
  transform: translateX(200px);
  opacity: 0;
  transition: 1s all ease;
}
.revealAboutBottomRight.active {
  transform: translateX(0);
  opacity: 1;
}

/* Portfolio */

.revealPortfolioImg1 {
  transform: translateX(300px);
  opacity: 0;
  transition: 1s all ease;
}
.revealPortfolioImg1.active {
  transform: translateX(0);
  opacity: 1;
}
.revealPortfolioDesc1 {
  transform: translateX(-300px);
  opacity: 0;
  transition: 1s all ease;
}
.revealPortfolioDesc1.active {
  transform: translateX(0);
  opacity: 1;
}

.revealPortfolioImg2 {
  transform: translateX(-300px);
  opacity: 0;
  transition: 1s all ease;
}
.revealPortfolioImg2.active {
  transform: translateX(0);
  opacity: 1;
}
.revealPortfolioDesc2 {
  transform: translateX(300px);
  opacity: 0;
  transition: 1s all ease;
}
.revealPortfolioDesc2.active {
  transform: translateX(0);
  opacity: 1;
}


.revealPortfolioImg3 {
  transform: translateX(300px);
  opacity: 0;
  transition: 1s all ease;
}
.revealPortfolioImg3.active {
  transform: translateX(0);
  opacity: 1;
}
.revealPortfolioDesc3 {
  transform: translateX(-300px);
  opacity: 0;
  transition: 1s all ease;
}
.revealPortfolioDesc3.active {
  transform: translateX(0);
  opacity: 1;
}

.revealPortfolioImg4 {
  transform: translateX(-300px);
  opacity: 0;
  transition: 1s all ease;
}
.revealPortfolioImg4.active {
  transform: translateX(0);
  opacity: 1;
}
.revealPortfolioDesc4 {
  transform: translateX(300px);
  opacity: 0;
  transition: 1s all ease;
}
.revealPortfolioDesc4.active {
  transform: translateX(0);
  opacity: 1;
}


.revealPortfolioImg5 {
  transform: translateX(300px);
  opacity: 0;
  transition: 1s all ease;
}
.revealPortfolioImg5.active {
  transform: translateX(0);
  opacity: 1;
}
.revealPortfolioDesc5 {
  transform: translateX(-300px);
  opacity: 0;
  transition: 1s all ease;
}
.revealPortfolioDesc5.active {
  transform: translateX(0);
  opacity: 1;
}


@media screen and (max-width: 800px) {
  .revealDev {
  transform: translateY(-150px);
  opacity: 0;
  transition: 1s all ease;
}
.revealMedic {
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
.revealDev.active {
  transform: translateY(0);
  opacity: 1;
}
.revealMedic.active {
  transform: translateY(0);
  opacity: 1;
}

.revealTechStack {
  transform: translateX(0px);
  opacity: 0;
  transition: 1s all ease;
}
.revealTechStack.active {
  transform: translateX(0);
  opacity: 1;
}

.revealAboutTopLeft {
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
.revealAboutTopLeft.active {
  transform: translateY(0px);
  opacity: 1;
}
.revealAboutTopRight {
  transform: translateY(-150px);
  opacity: 0;
  transition: 1s all ease;
}
.revealAboutTopRight.active {
  transform: translateY(0);
  opacity: 1;
}
.revealAboutLeft {
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
.revealAboutLeft.active {
  transform: translateY(0);
  opacity: 1;
}
.revealAboutRight {
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
.revealAboutRight.active {
  transform: translateY(0);
  opacity: 1;
}

.revealAboutBottomLeft {
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
.revealAboutBottomLeft.active {
  transform: translateY(0);
  opacity: 1;
}
.revealAboutBottomRight {
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
.revealAboutBottomRight.active {
  transform: translateY(0);
  opacity: 1;
}

/* Portfolio */

.revealPortfolioImg1 {
  transform: translateY(200px);
  opacity: 0;
  transition: 1s all ease;
}
.revealPortfolioImg1.active {
  transform: translateY(0);
  opacity: 1;
}
.revealPortfolioDesc1 {
  transform: translateY(200px);
  opacity: 0;
  transition: 1s all ease;
}
.revealPortfolioDesc1.active {
  transform: translateY(0);
  opacity: 1;
}

.revealPortfolioImg2 {
  transform: translateY(200px);
  opacity: 0;
  transition: 1s all ease;
}
.revealPortfolioImg2.active {
  transform: translateY(0);
  opacity: 1;
}
.revealPortfolioDesc2 {
  transform: translateY(200px);
  opacity: 0;
  transition: 1s all ease;
}
.revealPortfolioDesc2.active {
  transform: translateY(0);
  opacity: 1;
}


.revealPortfolioImg3 {
  transform: translateY(200px);
  opacity: 0;
  transition: 1s all ease;
}
.revealPortfolioImg3.active {
  transform: translateY(0);
  opacity: 1;
}
.revealPortfolioDesc3 {
  transform: translateY(200px);
  opacity: 0;
  transition: 1s all ease;
}
.revealPortfolioDesc3.active {
  transform: translateY(0);
  opacity: 1;
}

.revealPortfolioImg4 {
  transform: translateY(200px);
  opacity: 0;
  transition: 1s all ease;
}
.revealPortfolioImg4.active {
  transform: translateY(0);
  opacity: 1;
}
.revealPortfolioDesc4 {
  transform: translateY(200px);
  opacity: 0;
  transition: 1s all ease;
}
.revealPortfolioDesc4.active {
  transform: translateY(0);
  opacity: 1;
}


.revealPortfolioImg5 {
  transform: translateY(200px);
  opacity: 0;
  transition: 1s all ease;
}
.revealPortfolioImg5.active {
  transform: translateY(0);
  opacity: 1;
}
.revealPortfolioDesc5 {
  transform: translateY(200px);
  opacity: 0;
  transition: 1s all ease;
}
.revealPortfolioDesc5.active {
  transform: translateY(0);
  opacity: 1;
}

}
